.info{
	border-top: 10px solid #0091CC;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background: #FFF;
	padding: 10px 10px 100px;
}
.info-content{
	font-weight: bold;
    font-size: 20px;
    padding: 20px 20px 10px;
}
.info-title{
	padding-bottom: 10px;
}
.info-detial{
	color: gray;
    font-size: 16px;
    padding-left: 30px;
}
.info-detial li{
	padding: 5px 0;
}

