*{
	margin: 0;
	padding: 0;
	border: 0;
}
html{
	background-color: rgb(0,85,179);
}
.login_content{
	width: 480px;
	height: 415px;
	margin: 0 auto;
	margin-top: 150px;
}
.top_login{
	background-color: rgb(2,200,248);
	width: 480px;
	height: 67px;
	color: white;
	text-align: center;
	line-height: 67px;
	font-size: 19px;
}
.main_content{
	background-color: white;
	width: 480px;
	height: 348px;
}
.pagLog_ul{
	padding-top: 48px;
}
.pagLog_ul li label{
	width: 80px;
	height: 28px;
	display: block;
	float: left;
}
.pagLog_ul li input{
	font-size: 15px;
	padding: 0 10px;
	width: 248px;
	height: 28px;
	border: solid 1px lightgray;
}
.pagLog_ul li button{
    width: 80px;
    height: 30px;
    vertical-align: top;
    color: white;
    background-color: rgb(0,174,235);
    cursor: pointer;
    margin-left: 33px;
}
.pagLog_ul li{
	display: block;
	padding-top: 15px;
	width: 350px;
	margin:0 auto;
}
.pagLog_ul .login_btn input{
	width: 350px;
	height: 40px;
	background-color: rgb(0,174,235);
	margin-top: 25px;
	font-size: 20px;
	color: white;
}
#vertify{
	width: 120px;
}